<h1>第一組</h1>
<p>40123107 陳于加</p>
<p>40123120 李念融</p>
<p>40123150 蔡朝仁</p>
<h1>第一週</h1>
<ol>
<li class="level1">
<div class="li">隨身硬碟與<a class="wikilink1" title="程式語言:可攜_python_程式系統" href="http://wiki.mde.tw/doku.php?id=%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80:%E5%8F%AF%E6%94%9C_python_%E7%A8%8B%E5%BC%8F%E7%B3%BB%E7%B5%B1">可攜工程程式系統</a>要件檢查, 在任何一台 Windows 7 電腦都能直接開啟, 無需安裝, 具備完整的 Python3 程式環境, 可以啟動 Leo Editor, <abbr title="Hypertext Preprocessor">PHP</abbr> 5.5.X 解譯.</div>
</li>
<li class="level1">
<div class="li">請利用<a class="wikilink1" title="程式語言:可攜_python_程式系統" href="http://wiki.mde.tw/doku.php?id=%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80:%E5%8F%AF%E6%94%9C_python_%E7%A8%8B%E5%BC%8F%E7%B3%BB%E7%B5%B1">可攜工程程式系統</a>, 開啟 Leo Editor, 建立一個協同產品設計專案, 其中置入 Leo Editor 啟動說明, 從 Leo Editor 開啟 Python3 程式, 以<a class="wikilink1" title="程式語言:2014s_week1" href="http://wiki.mde.tw/doku.php?id=%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80:2014s_week1">2014S Week1</a>為例進行練習.</div>
</li>
<li class="level1">
<div class="li">請以 dokuwiki 作為關鍵字, 自行搜尋下載 dokuwiki, 並利用<a class="wikilink1" title="程式語言:可攜_python_程式系統" href="http://wiki.mde.tw/doku.php?id=%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80:%E5%8F%AF%E6%94%9C_python_%E7%A8%8B%E5%BC%8F%E7%B3%BB%E7%B5%B1">可攜工程程式系統</a>在近端啟動 dokuwiki, 並將上述原先寫在 Leo Editor 專案上的資料轉一份到 dokuwiki, 完成後請分別利用 Leo Editor 與 dokuwiki 整理相關資料, 並說明兩種方法的相關差異與優缺點.</div>
</li>
</ol>
<p><span> </span></p>
<h1>第二週</h1>
<ol>
<li class="level1">
<div class="li">請利用<a class="wikilink1" title="程式語言:可攜_python_程式系統" href="http://wiki.mde.tw/doku.php?id=%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80:%E5%8F%AF%E6%94%9C_python_%E7%A8%8B%E5%BC%8F%E7%B3%BB%E7%B5%B1">可攜工程程式系統</a>, 啟動您隨身硬碟上的 dokuwiki, 並能讓任何人透過網路註冊帳號, 開始練習後三十分鐘, 將以各學員所啟動 dokuwiki 上所註冊的學員數量加以計分, 系統上每一學員完成註冊並能建立 dokuwiki 網頁內容者, 可以得到兩分, 請問你得到幾分?</div>
</li>
<li class="level1">
<div class="li">請自行尋找其他兩位學員作為組員, 並且自開始執行此練習題目起算, 學員每離開一次座位將從上一題所得分數扣兩分的情況下記分, 設法完成全班的協同設計分組排序與分組資料收集, 完成練習後, 每位學員的 dokuwiki 上都必須記錄全班分組結果, 各組學員名單等資料, 每完成一組分組後排序資料與學員名單者, 可得到 5 分, 請問到這裡, 你得到幾分?</div>
</li>
<li class="level1">
<div class="li">請根據<a class="wikilink1" title="協同產品設計:協同產品設計環境:建立_cmsimply_網站" href="http://wiki.mde.tw/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88%E7%92%B0%E5%A2%83:%E5%BB%BA%E7%AB%8B_cmsimply_%E7%B6%B2%E7%AB%99">建立_cmsimply_網站</a>說明, 在個人 OpenShift 帳號下建立一個 CMSimply 內容管理網站, 並著手建立個人網際輔助設計網頁.</div>
</li>
</ol>
<h1>第三週</h1>
<ol>
<li class="level1">
<div class="li">請自行尋找其他兩位學員作為組員（每三人一組, 各學員座位距離越遠所得配分越高), 全班若採以協同方式進行座位安排, 分組各成員座位決定後, 將分別依行向與列向來計算各組員間的座位差值及配分, 例如:某一組組員座位分別為(1,1)(1,2)(2,3), 則　(1,1,) 與 (1,2) 得到差值 = 1, 則　(1,1,) 與 (2,3) 得到差值 = 1+2 = 3, 則　(1,2,) 與 (2,3) 得到差值 = 1+1 = 2, 因此該組座位安排後總插值為 1+3+2 = 6, 且每一差值可換取 4 分, 亦即, 此一分組的座位安排可以讓該組得到 6*4 = 24 分, 請問: 該如何安排全班分組後的座次表, 以便得到最大的全班總配分.</div>
</li>
<li class="level1">
<div class="li">若根據上一題的說明, 貴組得分多少?在您所安排或協調出的全班各組座位分配表, 總得分多少?</div>
</li>
<li class="level1">
<div class="li">以 php 啟動 dokuwiki, 建立個人 <a class="urlextern" title="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git" href="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git" rel="nofollow">CMSimply</a> 雲端網站, 以 mongoose web server 啟動 dokuwiki.</div>
</li>
<li class="level1">
<div class="li">將遠端的 <a class="urlextern" title="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git" href="https://cmsimply@bitbucket.org/cmsimply/public_cmsimply.git" rel="nofollow">CMSimply</a> 內容管理程式 git clone 到隨身程式環境中, 設法利用 Leo Editor 執行協同產品設計程式開發.</div>
</li>
</ol>
<p><strong>本週進度:</strong></p>
<p><span>架設dokuwiki </span><br><span>自評:80分</span></p>
<h1>第四週</h1>
<ol>
<li class="level1">
<div class="li">請設法在 CMSimply 環境中新增一個可以接受使用者輸入累加起始整數與終點整數的程式, 並在內容中引導使用者操作此一程式.</div>
</li>
<li class="level1">
<div class="li">請將 nutcracker 產品設計專案中的零件轉成 stl 格式, 並且上傳到 CMSimply 網站中, 讓使用者可以直接在某一特定頁面中看到所有的 3D 零組件.</div>
</li>
<li class="level1">
<div class="li">請設法將 CMSimply 網站中的零組件檔案, 在近端的 dokuwiki 網站中展示.</div>
</li>
</ol>
<p><strong>本週進度:</strong></p>
<p><span>建立 CMSimply 網站 </span><br><span>把網站資料clone 到近端資料夾 </span><br><span>到Bitbucket創建同步資料庫 </span><br><span>寄信程式可以寄信，還在嘗試讓程式讀取信箱自動寄信</span><br><span>自評:85分</span></p>
<h1>第五週</h1>
<ol>
<li class="level1">
<div class="li">請參考<a class="wikilink1" title="dokuwiki_on_openshift" href="http://wiki.mde.tw/doku.php?id=dokuwiki_on_openshift">dokuwiki_on_openshift</a>上的說明, 在 OpenShift 平台上建立各組的協同 wiki 網站.</div>
</li>
<li class="level1">
<div class="li">請利用各組在雲端上的 CMSimply 與 dokuwiki 網站整理前面四週的筆記與心得報告.</div>
</li>
<li class="level1">
<div class="li">cd project on Bitbucket: <a class="urlextern" title="https://bitbucket.org/coursemde/2014cd" href="https://bitbucket.org/coursemde/2014cd" rel="nofollow">https://bitbucket.org/coursemde/2014cd</a></div>
</li>
</ol>
<p><span><strong>本週進度:</strong></span></p>
<p><span>已會寄密碼至信箱 </span><br><span>自評:75分</span></p>
<h1>第六週</h1>
<ol>
<li class="level1">
<div class="li">請利用<a class="media mediafile mf_com" title="https://trello.com" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=036ad9&amp;media=https%3A%2F%2Ftrello.com">trello.com</a> 雲端協同系統整理分組協同產品設計專案資料, 並比較與其他協同工具的差異.</div>
</li>
<li class="level1">
<div class="li">cd project on Bitbucket: <a class="urlextern" title="https://bitbucket.org/coursemde/2014cd" href="https://bitbucket.org/coursemde/2014cd" rel="nofollow">https://bitbucket.org/coursemde/2014cd</a></div>
</li>
<li class="level1">
<div class="li">與 Bitbucket 同步的 OpenShift 網站: <a class="urlextern" title="http://cdproject-coursemdetw.rhcloud.com/" href="http://cdproject-coursemdetw.rhcloud.com/" rel="nofollow">http://cdproject-coursemdetw.rhcloud.com/</a></div>
</li>
<li class="level1">
<div class="li"><a class="urlextern" title="https://bitbucket.org/VictorEijkhout/tex-by-topic" href="https://bitbucket.org/VictorEijkhout/tex-by-topic" rel="nofollow">https://bitbucket.org/VictorEijkhout/tex-by-topic</a></div>
</li>
</ol>
<p><span><strong>本週進度:</strong></span></p>
<p><span>將dokuwiki上傳到openshift 再與bitbucket同步 </span></p>
<p><span>自評:80分</span></p>
<h1>第七週</h1>
<ol>
<li class="level1">
<div class="li"><a class="wikilink1" title="協同產品設計:建立各組_openshift_上的_dokuwiki" href="http://wiki.mde.tw/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:%E5%BB%BA%E7%AB%8B%E5%90%84%E7%B5%84_openshift_%E4%B8%8A%E7%9A%84_dokuwiki">建立各組 OpenShift 上的 dokuwiki</a></div>
</li>
<li class="level1">
<div class="li">請將<a class="urlextern" title="http://copy.com/BigUik0CkS7f" href="http://copy.com/BigUik0CkS7f" rel="nofollow">課程教材一</a> 與 <a class="urlextern" title="http://copy.com/7TPsCFDM923G" href="http://copy.com/7TPsCFDM923G" rel="nofollow">課程教材二</a> 整理成中文簡要內容, 並根據<a class="wikilink1" title="協同產品設計:協同產品設計專案" href="http://wiki.mde.tw/doku.php?id=%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88:%E5%8D%94%E5%90%8C%E7%94%A2%E5%93%81%E8%A8%AD%E8%A8%88%E5%B0%88%E6%A1%88">協同產品設計專案</a>中的說明, 以組為單位完成期中報告.</div>
</li>
<li class="level1">
<div class="li">各組所完成的期中報告原始資料必須送到 <a class="media mediafile mf_org_" title="https://bitbucket.org/" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=e0542a&amp;media=https%3A%2F%2Fbitbucket.org%2F">Bitbucket</a> 與 OpenShift <a class="media mediafile mf_org_dokuwiki" title="https://www.dokuwiki.org/dokuwiki" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=d3e790&amp;media=https%3A%2F%2Fwww.dokuwiki.org%2Fdokuwiki">Dokuwiki</a> 雲端維基網站, 並在網站中提供報告 html 連結與 pdf 文件下載.</div>
</li>
<li class="level1">
<div class="li">請以組為單位, 利用 Camstudio 錄製各組員所負責的期中簡報, 並將影音 flv 檔案上傳到 <a class="media mediafile mf_com_" title="https://vimeo.com/" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=78862b&amp;media=https%3A%2F%2Fvimeo.com%2F">Vimeo</a>.</div>
</li>
<li class="level1">
<div class="li">請利用 <a class="media mediafile mf_com" title="https://copy.com" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=53dc91&amp;media=https%3A%2F%2Fcopy.com">copy.com</a> 管理期中報告的所有文件檔案, 並在期中報告所屬的 <a class="media mediafile mf_org_" title="https://bitbucket.org/" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=e0542a&amp;media=https%3A%2F%2Fbitbucket.org%2F">Bitbucket</a> 網站提供下載連結.</div>
</li>
<li class="level1">
<div class="li">期中報告繳交項目: 分組雲端 <a class="media mediafile mf_org_dokuwiki" title="https://www.dokuwiki.org/dokuwiki" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=d3e790&amp;media=https%3A%2F%2Fwww.dokuwiki.org%2Fdokuwiki">Dokuwiki</a> 網站, 並在網站中提供分組 pdf 期中報告檔案下載, 分組 html 期中報告連結, 分組 <a class="media mediafile mf_org_" title="https://bitbucket.org/" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=e0542a&amp;media=https%3A%2F%2Fbitbucket.org%2F">Bitbucket</a>網站連結, 所有資料在 <a class="media mediafile mf_com" title="https://copy.com" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=53dc91&amp;media=https%3A%2F%2Fcopy.com">copy.com</a> 的下載連結, 各組員的 <a class="media mediafile mf_com_" title="https://vimeo.com/" href="http://wiki.mde.tw/lib/exe/fetch.php?tok=78862b&amp;media=https%3A%2F%2Fvimeo.com%2F">Vimeo</a> 期中影音簡報嵌入連結等.</div>
</li>
<li class="level1">
<div class="li">各組與期中報告有關的資料連結必須自行登錄到 2014s2a 或 2014s2b 名稱空間頁面下 (例如: 登入後以”2014s2a:期中報告:第一組”搜尋後即可新增四設二甲第一組的期中報告頁面).</div>
</li>
</ol>
<p><span><strong>本週進度:</strong></span></p>
<p><span>在ethercalc填寫成績 </span></p>
<p><span>自評:80分</span></p>
<h1>第八週</h1>
<pre class="brush: python; fontsize: 100; first-line: 1; ">for i in range(1,10):
    for j in range(1,10):
        if i&lt;=j:
            print(i ,"*", j ,"=",i*j)</pre>
<p> </p>
<h1>第九週</h1><p>第一題</p><pre class="brush: python; fontsize: 100; first-line: 1; ">import matha = 0b ='%04d'for i in range(100,200+10):    print(b%round(math.log(i/100,10)*10000,0),end=" ")    a +=1    if(a == 9):        print()        a =0</pre><p> 第二題</p><pre class="brush: xml; fontsize: 100; first-line: 1; html-script: true; ">import cherrypyimport reimport osimport mathimport hashlibimport htmlclass Example(object):    _cp_config = {    'tools.encode.encoding':'utf-8',    'tools.sessions.on' : True,    'tools.sessions.storage_type' : 'file',    'tools.sessions.locking' : 'explicit',    'tools.sessions.storage_path' : data_dir+'/tmp',    'tools.sessions..timeout' : 60    }    @cherrypy.expose    def index(self):        output = ''        form ='''        &lt;from action='action'&gt;        num1:&lt;INPUT type='text' name='num1'&gt;        num2:&lt;INPUT type='text' name='num2'&gt;        &lt;input type=submit&gt;        &lt;input type=reset&gt;        &lt;/form&gt;        '''        output += form        return output    @cherrypy.expose    def action(self,num1=9,num=9):        num1 = int(num1)        num2 = int(num2)        output = ''        for i in range(num1):            for j in range(num2):                output += str(i) + "*" + str(j) +"=" + str(i*j) +"&lt;br /&gt;"        return output</pre><p> </p><p> </p><p>第三題影片</p><p><a title="創建ID" href="https://vimeo.com/92572920%20">https://vimeo.com/92572920 </a></p><p> </p>